{# src/templates/tickets/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="form">
                {{ form(form) }}
            </div>
            <a href="{{ path('tickets_list')}}" class="btn btn-primary btn-dark" role="button" aria-pressed="true">Back</a>
        </div>
    </div>
</div>
{% endblock %}